.card, .card-header {
  border: none;
}

.card-header {
  background-color: #EEEEEE;
}

h2 {
  color: #363636;
  font-size: 3rem;
}

p {
  color: #746A6A;
}

a.card-link {
  color: #3487DC;
  text-decoration: none;
}
